# Expose Astro dependencies for `pnpm` users
# shamefully-hoist=true

@epic-digital-im:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${PKG_GITHUB_TOKEN}

@twelve-thirty:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${PKG_GITHUB_TOKEN}
