@reference "../../styles/global.css";

@layer components {
  .text {
    @apply text-base;
    color: var(--foreground);
  }
  
  h1.text {
    @apply text-4xl md:text-5xl;
    font-family: var(--font-heading);
    font-weight: 600;
  }
  
  h2.text {
    @apply text-3xl md:text-4xl;
    font-family: var(--font-heading);
  }
  
  h3.text {
    @apply text-2xl md:text-3xl;
    font-family: var(--font-heading);
  }
  
  h4.text {
    @apply text-xl md:text-2xl;
    font-family: var(--font-heading);
  }
  
  h5.text {
    @apply text-lg md:text-xl;
    font-family: var(--font-heading);
  }
  
  h6.text {
    @apply text-base md:text-lg;
    font-family: var(--font-heading);
  }
  
  p.text {
    @apply text-base mb-3;
  }
  
  span.text {
    @apply text-inherit;
  }
  
  label.text {
    @apply text-sm leading-none text-slate-600 mb-3 inline-block;
  }
  
  caption.text {
    @apply text-base w-full inline-block;
  }
}
