@source inline('stroke-amber-{300..600}');
@source inline('stroke-indigo-{300..500}');
@source inline('stroke-pink-{300..700}');
@source inline('stroke-teal-{300..600}');
@source inline('stroke-emerald-{300..700}');
@source inline('stroke-violet-{400..700}');
@source inline('stroke-cyan-{400..700}');
@source inline('stroke-blue-{400..700}');


:root {
  --background: oklch(0.9848 0.0013 106.4233);
  --foreground: oklch(0.2571 0.0908 281.4365);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2571 0.0908 281.4365);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2571 0.0908 281.4365);
  --primary: oklch(0.6350 0.1299 167.1279);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9108 0.0962 180.1080);
  --secondary-foreground: oklch(0.3702 0.0740 169.0969);
  --muted: oklch(0.9288 0.0126 255.5078);
  --muted-foreground: oklch(0.2571 0.0908 281.4365);
  --accent: oklch(0.9619 0.0179 272.3144);
  --accent-foreground: oklch(0.3588 0.1436 278.8119);
  --destructive: oklch(0.4883 0.1979 0.1475);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.6227 0.1100 184.5255);
  --chart-1: oklch(0.7650 0.1770 163.2230);
  --chart-2: oklch(0.7040 0.1400 182.5030);
  --chart-3: oklch(0.6090 0.1260 221.7230);
  --chart-4: oklch(0.7070 0.1650 254.6240);
  --chart-5: oklch(0.7850 0.1150 274.7130);
  --sidebar: oklch(0.9683 0.0069 247.8956);
  --sidebar-foreground: oklch(0.2571 0.0908 281.4365);
  --sidebar-primary: oklch(0.5471 0.1128 166.5320);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9288 0.0126 255.5078);
  --sidebar-accent-foreground: oklch(0.3988 0.1949 277.3204);
  --sidebar-border: oklch(0.8686 0.0216 252.5137);
  --sidebar-ring: oklch(0.6227 0.1100 184.5255);
  --font-heading: Merriweather, ui-serif, sans-serif, system-ui;
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Spectral, ui-serif, serif;
  --font-mono: Fira Mono, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 6.5px;
  --shadow-blur: 10.5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.09;
  --shadow-color: #312c85;
  --shadow-2xs: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.04);
  --shadow-xs: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.04);
  --shadow-sm: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.09), 0px 1px 2px -1px hsl(243.3708 50.2825% 34.7059% / 0.09);
  --shadow: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.09), 0px 1px 2px -1px hsl(243.3708 50.2825% 34.7059% / 0.09);
  --shadow-md: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.09), 0px 2px 4px -1px hsl(243.3708 50.2825% 34.7059% / 0.09);
  --shadow-lg: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.09), 0px 4px 6px -1px hsl(243.3708 50.2825% 34.7059% / 0.09);
  --shadow-xl: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.09), 0px 8px 10px -1px hsl(243.3708 50.2825% 34.7059% / 0.09);
  --shadow-2xl: 0px 6.5px 10.5px 0px hsl(243.3708 50.2825% 34.7059% / 0.22);
  --tracking-normal: 0em;
  --spacing: 0.29rem;
}

.dark {
  --background: oklch(0.1290 0.0420 264.6950);
  --foreground: oklch(0.9683 0.0069 247.8956);
  --card: oklch(0.2080 0.0420 265.7550);
  --card-foreground: oklch(0.9702 0 0);
  --popover: oklch(0.1748 0.0713 266.7409);
  --popover-foreground: oklch(0.9683 0.0069 247.8956);
  --primary: oklch(0.8450 0.1430 164.9780);
  --primary-foreground: oklch(0.2571 0.0908 281.4365);
  --secondary: oklch(0.3980 0.1950 277.3660);
  --secondary-foreground: oklch(0.9288 0.0126 255.5078);
  --muted: oklch(0.3590 0.1440 278.6970);
  --muted-foreground: oklch(0.8686 0.0216 252.5137);
  --accent: oklch(0.3871 0.0634 187.2114);
  --accent-foreground: oklch(0.9842 0.0034 247.8575);
  --destructive: oklch(0.7112 0.1854 12.7546);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2799 0.0408 260.3294);
  --input: oklch(0.2799 0.0408 260.3294);
  --ring: oklch(0.4784 0.0835 187.0180);
  --chart-1: oklch(0.6350 0.1299 167.1279);
  --chart-2: oklch(0.4784 0.0835 187.0180);
  --chart-3: oklch(0.5310 0.1182 238.2624);
  --chart-4: oklch(0.6401 0.1103 208.9778);
  --chart-5: oklch(0.6805 0.1704 277.5355);
  --sidebar: oklch(0.1290 0.0420 264.6950);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.4716 0.0963 167.3283);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2799 0.0408 260.3294);
  --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-border: oklch(0.2799 0.0408 260.3294);
  --sidebar-ring: oklch(0.4784 0.0835 187.0180);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Spectral, ui-serif, serif;
  --font-mono: Fira Mono, ui-monospace, monospace;
  --radius: 0.8rem;
  --shadow-x: 0px;
  --shadow-y: 6.5px;
  --shadow-blur: 10.5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.09;
  --shadow-color: oklch(0.129 0.042 264.695);
  --shadow-2xs: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.04);
  --shadow-xs: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.04);
  --shadow-sm: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.09), 0px 1px 2px -1px hsl(228.8200 85.1316% 4.9967% / 0.09);
  --shadow: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.09), 0px 1px 2px -1px hsl(228.8200 85.1316% 4.9967% / 0.09);
  --shadow-md: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.09), 0px 2px 4px -1px hsl(228.8200 85.1316% 4.9967% / 0.09);
  --shadow-lg: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.09), 0px 4px 6px -1px hsl(228.8200 85.1316% 4.9967% / 0.09);
  --shadow-xl: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.09), 0px 8px 10px -1px hsl(228.8200 85.1316% 4.9967% / 0.09);
  --shadow-2xl: 0px 6.5px 10.5px 0px hsl(228.8200 85.1316% 4.9967% / 0.22);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-heading: var(--font-heading);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
